.resolution-text {
    font-weight: 800;
    font-size: 2rem;
    background: linear-gradient(45deg, #ff7300, #e400ff, #00bfff);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    text-align: center;
    letter-spacing: 0.2rem;
}

.add-textarea {
    padding: 1rem;
    outline: none;
    border: none;
    letter-spacing: 0.2rem;
    box-shadow: inset 2px 2px 5px black;
    border-radius: 1rem;
    margin: 0;
}

.add-textarea:focus {
    outline: none;
    box-shadow: 2px 2px 5px black;
}

.post-btn {
    height: 3rem;
    width: 8rem;
    border-radius: 3rem;
    background: linear-gradient(45deg, #ff7300, #e400ff, #00bfff);
    /* background-color: #0ebeb5; */
    /* box-shadow: 2px 2px 5px black; */
}

.post-btn:focus {
    box-shadow: none;
}