.resolution-text {
    font-weight: 800;
    font-size: 2rem;
    background: linear-gradient(45deg, #ff7300, #e400ff, #ccff00);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    text-align: center;
    letter-spacing: 0.2rem;
}

.added-res {}

.info {
    font-size: 0.7rem;
}

.post-btn {
    height: 3rem;
    width: 8rem;
    background-color: #0ebeb5;
}

.add-content-temp {
    outline: none;
    border: none;
    box-shadow: inset 2px 2px 3px grey;
}

.add-content-temp:active,
.add-content-temp:focus {
    box-shadow: inset 2px 2px 3px grey;
    outline: none;
    border: none;
}